<h1>商品情報更新画面</h1>

<%= @item.product_name %>

<%= form_with(model: @item, url: admin_item_path(params[:id]), method: :put) do |f| %>
  <%= f.label :priority "表示優先項目" %>
  <%= f.number_field :priority %>

  <%= f.submit "商品情報更新" %>
<% end %>

