<h1>商品作成画面</h1>

<%= form_with(model: @item, url: admin_items_path, method: :post) do |f| %>

  <%= f.label :product_name %>
  <%= f.text_field :product_name %>

  <%= f.label :product_image %>
  <%= f.text_field :product_image %>

  <%= f.label :price %>
  <%= f.number_field :price %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :hidden %>
  <%= f.number_field :hidden %>

  <%= f.label :priority %>
  <%= f.number_field :priority %>

  <%= f.submit "Create Item" %>
<% end %>

