<h1>注文手続き</h1>

<%= @cart.id %>
  <% @cart.cart_details.each do |detail| %>
    <li><%= link_to "#{detail.item.product_name} - ¥#{detail.item.price} - #{detail.num}", item_path(detail.item) %></li>
  <% end %>

  <%= "商品合計 \\#{@cart.item_cost}" %>
  <%= "代引き手数料 \\#{@cart.cash_fee}" %>

<%= form_with(url: order_index_path, method: :post) do |f| %>
  <%= f.label :address_id, '住所を選択してください' %>
  <%= f.collection_select :address_id, @addresses, :id, :postal_code, prompt: '住所を選択' %>
  <%= f.submit '送信' %>
<% end %>

<%= form_with(model: @user) do |f|%>
<%= f.label :email %>
<%= f.email_field :email %>
<%= f.label :password %>
<%= f.password_field :password %>
<%= f.label :password_confirmation  %>
<%= f.password_field :password_confirmation %>
<%= f.submit "create account" %>
<% end %>