<h1>会員登録</h1>
<%= form_with(model: @user) do |f|%>
<%= render 'shared/error_messages', object: f.object %>
<%= f.label :email ,"メールアドレス" %>
<%= f.email_field :email %>

<%= f.label :password, "パスワード" %>
<%= f.password_field :password %>

<%= f.label :password_confirmation, "パスワード(再入力)"  %>
<%= f.password_field :password_confirmation %>

<%= f.submit "アカウント作成" %>
<% end %>