<h1>会員登録</h1>
<%= form_with(model: @user) do |f|%>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation  %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit "create account" %>
<% end %>