<h1>マイページ</h1>
<p>メールアドレス: <%= @user.email %></p>

<h2>住所一覧</h2>
<div class="contents">
    <ul>
    <% @user.addresses.each do |address| %>
        <li>
        氏名: <%= address.name %>
        郵便番号: <%= address.postal_code %>
        都道府県: <%= address.prefecture %>
        市区町村: <%= address.city %>
        丁目・番地・号: <%= address.town %>
        建物名・部屋番号: <%= address.building_name %>
        </li>
    <% end %>
    </ul>
</div>

<%= link_to '注文履歴', order_history_path %>