<h1>住所登録</h1>
<%= form_with(model: @address) do |f|%>
<%= f.label :postal_code %>
<%= f.number_field :postal_code1, id:'postal_code1' %>-<%= f.number_field :postal_code2, id:'postal_code2' %>
<%= f.label :prefecture%>
<%= f.text_field :prefecture, id:'prefecture' %>
<%= f.label :city  %>
<%= f.text_field :city, id: 'city' %>
<%= f.label :town  %>
<%= f.text_field :town, id:'town' %>
<%= f.label :building_name  %>
<%= f.text_field :building_name %>
<%= f.submit "add adress" %>
<% end %>

<script>
$(document).ready(function() {
  $('#postal_code1, #postal_code2').jpostal({
    postcode : [
      '#postal_code1', 
      '#postal_code2'
    ],
    address  : {
      '#prefecture' : '%3',
      '#city'       : '%4',
      '#town'    : '%5'
    }
  });
});
</script>
